* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#navBar {
    height: 80px;
    margin-bottom: 20px;
}

body {
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
    background-blend-mode: lighten;
}

#containerFiltros {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.producto {
    height: 360px;
    width: 150px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    /* background-color: grey; */
    padding: 10px;
    align-items: center;


}

.productoFinal{
    margin: 20px;
    padding: 20px;
    
}

.producto img {
    width: 100px;
    margin-bottom: 20px;
    
}

#contenedorProductos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



.productoFinal img {
   height: 150px;
}

#chango{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
}

#elementosDelChango{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    /* justify-content: center; */
    /* background-color: green */
    
}



.contenedorComprar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: blue; */
    
    
}



.contenedorDerecho{
    display: flex;
    flex-direction: column;
    /* background-color: violet;     */
    align-self: center;      
      
}

#botones{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 768px){
    
    .contenedorComprar{
        display: flex;
        flex-direction: column;
        
    }
}